<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
</head>
<body>

  <% if (user) { %>
    <h1>Welcome to PlayListin, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Welcome to PlayListin' 💿</h1>
    <p>Your Personal Music Tracker</p>
    <p>
      <a href="/auth/sign-up">Sign Up</a> or
      <a href="/auth/sign-in">Sign In</a> to start tracking your favorite albums.
    </p>
  <% } %>
</body>
</html>
