<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Album</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Album</h1>
    <p> Add a new album to your PlayList</p>
<form action="/users/<%= user._id %>/reviews" method="POST">
    <label for="title">Album Title:</label>
    <input type="text" name="title" id="title" />
    <label for="artist"> By:</label>
    <input type="text" name="artist" id="artist">
    <label for="rating">Rating(1-5):</label>
    <input type="number" name="rating" id="rating" max="5" required>
    <label for="song">Favorite Song:</label>
    <input type="text" name="song" id="song">
    <label for="notes">Comments: </label>
    <textarea name="notes" id="notes"></textarea>
    <label for="hide">Keep Hidden?</label>

    <input type="checkbox" name="hide" id="hide" />
    <button type="submit">Add</button>
</form>
</body>
</html>